{{> layout/header}}


    <body>

{{> layout/navbar}}
        <div class="container">

            {{#profile}}
            <h1 class="pt-md-5 pb-md-5">{{name}}</h1>

            <div class="card-deck">
                {{#pokemonTypes}}
                <div class="col-md-3">
                    <div class="card shadow-sm mb-3">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">{{pokemonType.name}}
                                <span class="badge badge-secondary">Id {{pokemonType.id}}</span>
                            </h4>
                        </div>
                        <img class="card-img-top" src="{{pokemonType.sprites.front_default}}" alt="Pokemon"/>

                        <div class="card-body">
                            <span class="badge badge-primary">Speed : {{pokemonType.stats.speed}}</span>
                            <span class="badge badge-primary">Attack : {{pokemonType.stats.attack}}</span>
                            <span class="badge badge-primary">Defense : {{pokemonType.stats.defense}}</span>
                            <span class="badge badge-primary">HP : {{pokemonType.stats.hp}}</span>
                            <span class="badge badge-primary">Types :
                                {{#pokemonType.types}}
                                <span>{{.}}</span>
                                {{/pokemonType.types}}
                            </span>
                        </div>

                    </div>
                </div>
                {{/pokemonTypes}}
            </div>

            {{/profile}}
        </div>

    </body>
</html>
